<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <contentSearch>
            <configuration>
                <indexes hint="list:AddIndex">
                    <index id="sitecore_core_index">
                        <configuration>
                            <documentOptions>
                                <exclude>
                                    <Message patch:instead="Message[.='{87033790-C370-49F0-8B75-99C4A06A9901}']">
                                        <patch:delete />
                                    </Message>
                                </exclude>
                            </documentOptions>
                        </configuration>
                    </index>
                </indexes>
            </configuration>
        </contentSearch>
    </sitecore>
</configuration>